.home-main
    .home 
        .fruit
            figure(id="photo-1") 
                img(src="../img/header_Photo1.png", alt="")
            figure(id="photo-2") 
                img(src="../img/header_Photo2.png", alt="")
            figure(id="photo-3") 
                img(src="../img/header_Photo3.png", alt="")
            figure(id="photo-4")  
                img(src="../img/header_Photo4.png", alt="")
            figure(id="photo-5")  
                img(src="../img/header_Photo5.png", alt="")
        main 
            .app-icon
                a(href="#") 
                img(src="../img/header_App_Icon.png", alt="")
            .about 
                h2 Helps you eat 
                    strong better.
                p FitApp is a free calorie counting and diet app PSD template which
                    br 
                    |includes high quanlity 9 screens. This template can be very helpful if you're
                    br 
                    |planning to build food tracking application.
            .download 
                #App_Store
                    a(href="https://www.apple.com/app-store/" target="_blank") 
                    img(src="../img/header_Appstore.png", alt="")
                #Google_Play
                    a(href="https://play.google.com/store/games" target="_blank") 
                    img(src="../img/header_Google_Play.png", alt="")
            .photo-Iphone 
                img(src="../img/header_iPhone 5C 3_4 Left view mock up.png", alt="")    