
.container
  .div_left
    p.Item_H1
      | Manage your 
      span.span meal time
    p.Item_P
      | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem atque optio maxime enim similique ipsum
      | minus, deserunt minima sapiente impedit quibusdam in dolor nulla modi reprehenderit sit. Veniam, in
      | iste.
  .div_right
    .div_card1
      .div_card_Item__left
        .div_img1
          img(src='../img/manage_time_Apple.png')
        .Item_content
          h4.Item_content_H4 Apple
          p.Item_content_PP Lorem ipsum dolor sit 
          p.Item_content_P
            | 35 G
            span.Item_content_Span &nbsp; &#x25CF; &nbsp;
            | 189
            |                             KCAL
      div
        p.Item_content_P__time1 01:00
        p.Item_content_P__P PM
    .div_card2
      .div_card_Item__left
        .div_img2
          img(src='../img/manage_time_Sandwich.png')
        .Item_content
          h4.Item_content_H4 Sandwich
          p.Item_content_PP Lorem ipsum dolor sit 
          p.Item_content_P
            | 35 G
            span.Item_content_Span &nbsp; &#x25CF; &nbsp;
            | 189
            |                             KCAL
      div
        p.Item_content_P__time23 03:00
        p.Item_content_P__P PM
    .div_card3
      .div_card_Item__left
        .div_img3
          img(src='../img/manage_time_Salad_with_chicken.png')
        .Item_content
          h4.Item_content_H4 Salad with chicken
          p.Item_content_PP Lorem ipsum dolor sit 
          p.Item_content_P
            | 220 G
            span.Item_content_Span &nbsp; &#x25CF; &nbsp;
            | 189
            |                             KCAL
      div
        p.Item_content_P__time23 05:30
        p.Item_content_P__P PM